<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<header>

    <button type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
    </button>

    <div id="navbarToggler">
        <ul>
            <li>
                <a sec:authorize="hasAuthority('Job Seeker')" th:href="@{/dashboard/}">Search for Jobs</a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('Job Seeker')" th:href="@{/saved-jobs/}">View Saved Jobs</a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('Job Seeker')" th:href="@{/job-seeker-profile/}">Edit Profile</a>
            </li>

            <li>
                <a sec:authorize="hasAuthority('Recruiter')" th:href="@{/dashboard/add}">Post New Job</a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('Recruiter')" th:href="@{/dashboard/}">View Your Jobs</a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('Recruiter')" th:href="@{/recruiter-profile/}">Edit Account</a>
            </li>
        </ul>
        <img
                class="rounded-circle me-3"
                height="50px"
                width="50x"
                th:if="${user.photosImagePath!=null}"
                th:src="@{${user?.photosImagePath}}"
        />

        <label th:if="${user.firstName != null && user.lastName != null}"
               th:text="${user.firstName+' '+user.lastName}"></label>

        <label th:unless="${user.firstName != null && user.lastName != null}"
               th:text="${username}"></label>

        <button onclick="window.location.href='/logout'">Logout</button>
    </div>
</header>

<section>
    <div></div>
    <article>
        <div sec:authorize="hasAuthority('Recruiter')">
            <h1>Recruiter Dashboard</h1>
        </div>
        <div>
            <label sec:authorize="hasAuthority('Job Seeker')">Search Results</label>
            <th:block th:each="jobPost:${jobPost}">
                <a th:href="@{/job-details-apply/{id}(id=${jobPost.jobPostId})}">
                    <div onclick="window.location=/job-details-apply/{id}(id=${jobPost.jobPostId})">
                        <div>
                            <div>
                                <label>
                                    [[${jobPost.jobTitle}]]
                                    <span sec:authorize="hasAuthority('Recruiter')"
                                          th:text="'('+ @{${jobPost.totalCandidates}}+' Candidates Applied)'">
                                        (xx candidates applied)
                                    </span>
                                    <span sec:authorize="hasAuthority('Job Seeker')"
                                          th:if="${jobPost.isActive == true}">(Applied)</span>
                                    <span sec:authorize="hasAuthority('Job Seeker')"
                                          th:if="${jobPost.isSaved == true}">(Saved)</span>
                                </label>
                            </div>
                            <div>
                                <label th:text="${jobPost.jobLocationId.city+', '+ jobPost.jobLocationId.state}">
                                    City State
                                </label>
                            </div>
                            <div>
                                <label th:text="@{${jobPost.jobCompanyId.name}}">Recruiter Company Name</label>
                            </div>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>
    </article>
</section>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
